#banner
  .container.intro_wrapper
    .inner_content
      %h1
        Edit Page
      %h1.title
        = @page.titleize

.container.wrapper
  .inner_content
    .row.pad30
      .col-md-9.pad15
        = render 'layouts/flash_notifications'
        = render 'layouts/activerecord_notifications'
        = render "users/form/#{@page}"

      = render 'layouts/edit_menu'

